{% extends 'Navbar.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
	{% load static %}
{% block content %}

        <link rel="stylesheet" href="{% static 'css/About.css'%}" />
</head>
<body>
	<div class="about-section">

		<h1>Unser Team</h1>
		<p>Kürz Berchreibung unseres Teams und unsere Veranwortungen</p>
		<p>Dieses Projekt ist im Rahmen der Veranstaltung
			Realisierung_Anwendung Im SS23 entstanden.</p>
	</div>

	<div class="row">

		<div class="column">
			<div class="card">

				<div class="container">
					<h2></h2>
					<p class="title"></p>
					<p></p>
					<p></p>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="card">
				<img src="../img/null.png" alt="Douogouo" >
				<div class="container">
					<h2>Muster Namen</h2>
					<p class="title">Enwiklung/Design</p>
					<p>Studentin im 5. Semester an der HWG-LU</p>
					<p>Email@yahoo.fr</p>
					<p>
						<a class="button"
							href="mailto:omail@gmail.com?cc=studcomsuport@gmail.com  &bcc=ftsidie@gmail.com&subject=Mail from Studcom&body=Dear Ornella, ...">contact</a>
					</p>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="card">
				<img src="../img/null.png" alt="Sarah" >
				<div class="container">
					<h2>muster Manem</h2>
					<p class="title">Enwiklung/Design</p>
					<p>Studentin im 6. Semester an der HWG-LU</p>
					<p>Andermail@gmail.com</p>
					<p>
						<a class="button"
							href="mailto:mail@gmail.com?cc=studcomsuport@gmail.com  &bcc=ftsidie@gmail.com&subject=Mail from studcom&body=Dear sahra, ...">contact</a>
					</p>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="card">
				<img src="../img/null.png" alt="Fank Tsidie" style="width: 100%">
				<div class="container">
					<h2>SMuster Mann</h2>
					<p class="title">Enwiklung/Design</p>
					<p>Studentin im 4. Semester an der HWG-LU</p>
					<p>s5hhhiealida@gmail.com</p>
					<p>
						<a class="button"
							href="mailto:sophie@gmail.com?cc=studcomsuport@gmail.com &bcc=ftsidie@gmail.com&subject=Mail from our Website studcom&body=Dear Frank, ...">contact</a>
					</p>
				</div>
			</div>
		</div>

	</div>
	<p align="right">
		<a class="previous" href="../jsp/Acceuil.jsp">&laquo;
			züruck zum Start</a>
	</p>

</body>
{% endblock %}

</html>