@charset "UTF-8";

{% load static %}

*{
	margin: 0;
	padding: 0;
	font-family: 'poppins', sans-serif;
}

body{

	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgb(155, 67, 125) ,rgba(50,9,30,0.7)), url("{% static 'img/speisen1.jpg' %}");
	background-position: center;
	background-size: cover;
	position: relative;
	box-sizing: border-box;
	font-family: sans-serif;
	justify-content: center;
}
#regi{

height: 650px;


}
.card{
	display:flex;
	align-items: center;
	font-family: 'poppins', sans-serif;
	justify-content: center;
	color: #2f1d0b;
	width: 420px;
	height: 450px;
	align-self:center;
	box-shadow: 0 0 40px 20px  rgba(0,0,0,0.26);
	margin-left: auto;
	margin-right: auto;
	margin-top: 120px;
	border-radius: 20px;
	margin-bottom: 200px;

}

.inner-box{

	position: relative;
	height: 100%;
	width: 100%;
	padding: 55px;
	box-sizing: border-box;
	background-color: #f38f26;
	border-radius: 20px;

}

.card  h2 {

	font-weight: normal ;
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
}


.input-box{

	width: 100%;
	background: transparent;
	border: 1px solid #2f1d0b;
	margin : 10px 0;
	height: 32px;
	border-radius: 20px;
	padding: 0 15px ;
	box-sizing:border-box;
	outline: none;
	text-align: center;
	font-size: 16px;
	color: #2f1d0b;

}

::placeholder{
	color: #aab5b5;
	font-size: 12px;
	font-weight: lighter;
}

.submit-btn{

	width: 100%;
	background: white;
	border: 2px solid #2f1d0b;
	margin: 35px 0 10px;
	height: 32px;
	font-size: 20px;
	border-radius: 20px;
	padding: 0 10px;
	box-sizing: border-box;
	outline: none;
	color: #2f1d0b;
	cursor: pointer;
}

.submit-btn:hover{
	background: red;

}

p{
	font-style: italic;
	margin-top: 15px;
}

h2.message{
    color: red;
    font-size: 30px;
}